.top-buttons{
	text-align: center;
}

.count{
	font-size: 30px !important;
}

input.search_submit{
	margin-top: 10px;
}

.search_field {
	margin: 5px 0px;
}

.column-title .sort_direction{
	margin-left: 10px;
	color: #abaaaa;
}

.head_sort_link{
	color :  #ddd;
}